body {
    background-image: linear-gradient(#42EFC9, #FFE39A);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    min-height: 100vh;

}

header {
    position: relative;
    left: 44%
}

#about {
    font-family: Roboto Slab;
    font-size: 20px;
    color: #EFFEFB;
    border-style: solid;
    border-width: 5px;
    border-color: #EFFEFB;
    padding: 5px;
    width: 90px;
    text-align: center;
    margin: 30px;
    transition-duration: 0.5s;
    transition-timing-function: easeInOutCubic;

}

#about:hover {
    border-width: 10px;
    cursor: pointer;
}

#title {
    font-family: Roboto Slab;
    font-size: 65px;
    color: #EFFEFB;
    width: 800px;
    border-style: solid;
    border-width: 9px;
    border-color: #EFFEFB;
    padding: 15px;
    text-align: center;
    margin: 30px;
}

/* Animation taken from https://css-tricks.com/snippets/css/typewriter-effect/ 
   Full credit goes to the article's author, Geoff Graham. */

h1 {
    font-family: Roboto Slab;
    font-size: 65px;
    color: #EFFEFB;
    font-weight: normal;

    overflow: hidden; 
    border-right: .05em solid; 
    white-space: nowrap; 
    margin: 0 auto; 

    animation: 
        typing 3.5s steps(30, end),
        blinker 1s step-end infinite;
}

/* Animation taken from https://css-tricks.com/snippets/css/typewriter-effect/ 
   Full credit goes to the article's author, Geoff Graham. */

@keyframes typing {
    from { width: 0 }
    to { width: 100%;}
}

/* Animation taken from https://css-tricks.com/snippets/css/typewriter-effect/ 
   Full credit goes to the article's author, Geoff Graham. */

@keyframes blinker {
    from, to { border-color: transparent }
    50% { border-color: #EFFEFB; }
}

#sub-title {
    font-family: Roboto Slab;
    font-size: 40px;
    font-weight: bold;
    color: #EFFEFB;
    width: 600px;
    border-style: solid;
    border-width: 9px;
    border-color: #EFFEFB;
    padding: 7px;
    text-align: center;
    margin: 30px;
}

.icons {
    margin-top: 50;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.full-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

.circle {
    width: 100;
    height: 100;
    border-radius: 50%;
    border-style: solid;
    border-width: 9;

    transition-property: border-width;
    transition-duration: 0.5s;
    transition-timing-function: easeInOutCubic;
}

.circle:hover {
    border-width: 20;
    cursor: pointer;
}

p {
    font-family: Montserrat;
    font-size: 20;
    width: 160px;
    text-align: center;
}

.circle#first {
    border-color: #E79854;
    background-color: #F3DFC1;
}

p#first{
    color: #D18D28;
}

.circle#second {
    border-color: #E57E25;
    background-color: #ECD5C2;
    text-align: center;
}

p#second{
    color: #E79854;
}

.circle#second img{
    top: 20px;
}

a {
    text-decoration: none;
}

.bottom{
    font-family: Montserrat;
    font-size: 10;
    text-align: center;
    width:max-content;
    color: #5A6663;
    bottom: 0;
}



